In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('20210103_hundenamen.csv')

In [8]:
df.head()

                      HUNDENAME  GEBURTSJAHR_HUND GESCHLECHT_HUND
0                         Ituma              2011               w
1      "Bo" Bendy of Treegarden              2020               m
2         "Bobby" Lord Sinclair              2009               m
3    "Buddy" Fortheringhay's J.              2011               m
4  "Fly" Showring i fly for you              2015               w

In [16]:
def LevenshteinD(word1, word2):
    m = len(word1)
    n = len(word2)
    table = [[0] * (n + 1) for _ in range(m + 1)]

    for i in range(m + 1):
        table[i][0] = i
    for j in range(n + 1):
        table[0][j] = j

    for i in range(1, m + 1):
        for j in range(1, n + 1):
            if word1[i - 1] == word2[j - 1]:
                table[i][j] = table[i - 1][j - 1]
            else:
                table[i][j] = 1 + min(table[i - 1][j], table[i][j - 1], table[i - 1][j - 1])

    return table[-1][-1]
name_col = df['HUNDENAME']
req = list()    
for word1 in name_col:
    if LevenshteinD(str(word1), 'Luca' ) == 1:
        if word1 not in req:
            req.append(word1)
print(req)

['Cuca', 'Lua', 'Luba', 'Lucas', 'Luce', 'Lucia', 'Lucy', 'Lula', 'Luma', 'Luna', 'Lupa', 'Yuca']